
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/public/images
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> Other ###
node_modules
.idea
/build/
.DS_Store

###> Docker ###
.docker/.data

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###